*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
body{
    background: #212121;
}
#aboutMe{
    width: 100%;
    display: flex;
    background-color: #2b2b2bcb;
}
#aboutMe .myphoto{
    border-radius: 9px;
    width: 200px;
    height: 200px;
}
#aboutMe .personal-desc .my-name{
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
    color: #ece9f0;
    width: 200px;
}
#aboutMe .personal-desc .links{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
#aboutMe .personal-desc .links i{
    border-radius: 6px;
    border: 1px solid #f3f3f3;
    color: #e9a60b;
    padding: 3px;
    font-size: 1.6em;
    justify-content: space-evenly;
    transition: .7s;
}
#aboutMe .personal-desc .links .bxl-facebook:hover{
    background: #97979797;
    color: rgba(255, 255, 255, 0.836);
}
#aboutMe .personal-desc .links .bxl-whatsapp:hover{
    background: #97979797;
    color: rgba(255, 255, 255, 0.836);
}
#aboutMe .personal-desc .links .bxl-linkedin:hover{
    background: #97979797;
    color: rgba(255, 255, 255, 0.836);
}
#aboutMe .personal-desc .links .bxl-upwork:hover{
    background: #97979797;
    color: rgba(255, 255, 255, 0.836);
}
#aboutMe .personal-desc .links .bxl-gmail:hover{
    background: #97979797;
    color: rgba(255, 255, 255, 0.836);
}
#aboutMe .personal-desc .call-me{
    text-align: center;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 100%;
    justify-self: center;
    transition: .6s;
}
#aboutMe .personal-desc .call-me a{
    letter-spacing: 1px;
    color: #ece9f0;
    text-decoration: none;
    font-size: var(--link-size);
    padding: 2px 45px;
    font-weight: 500;
}
#aboutMe .personal-desc .call-me:hover{
    background: #0e4bf1;
    box-shadow: 1px 1px 5px #d8d8d8;
}
#aboutMe .personal-desc .call-me:hover a{
    color: #f3f3f3;
}
#aboutMe .description-text .title{
    font-family: 'Times New Roman', Times, serif;
    color: #ece9f0;
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 550;
}
#aboutMe .description-text .title span{
    color: #e9a60b;
}
#aboutMe .description-text .skill-slide{
    font-size: 1.7em;
    color: #f3f1f1;
}
#aboutMe .description-text .skill-slide .skill{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #fabc6a;
    margin-right: auto;
    margin-left: auto;
}
#aboutMe .description-text .text_me{
    font-size: .95em;
    color: #d8d8d8;
    line-height: 1.6;
}
#aboutMe .description-text .text_me strong{
    color: #e9a60b;
}
#aboutMe .description-text .hire-me{
    display: flex;
}
#aboutMe .description-text .hire-me div{
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 15px auto;
    border-radius: 4px;
}
#aboutMe .description-text .hire-me a{
    text-align: center;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2em;
    padding: 3px;
    width: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    background: #396bf7;
    cursor: pointer;
    transition: 0.3s;
}
#aboutMe .description-text .hire-me a:hover{
    background: #0e4bf1;
    box-shadow: 1px 1px 5px #6d6d6dc7;
}
@media only screen and (max-width: 524px){
    #aboutMe{
        display: grid;
    }
    #aboutMe .personal-desc{
        margin: 30px auto;
    }
    #aboutMe .description-text{
        padding: 30pux;
        width: 100%;
    }
    #aboutMe .description-text .hire-me{
        display: block;
        justify-content: center;
        color: #fff;
    }
}
@media only screen and (min-width: 525px) and (max-width: 767px){
    #aboutMe .personal-desc{
        display: grid;
        margin-left: 20px;
        justify-content: center;
        align-self: center;
        width: 40%;
        height: 400px;
    }
    #aboutMe .description-text{
        width: 55%;
    }
}
@media only screen and (min-width:768px) and (max-width: 1023px){
    #aboutMe .personal-desc{
        display: grid;
        margin-right: 30px;
        justify-content: flex-end;
        align-self: center;
        width: 40%;
        height: 330px;
    }
    #aboutMe .description-text{
        width: 55%;
    }
}
@media only screen and (min-width:1024px){
    #aboutMe .personal-desc{
        display: grid;
        margin-right: 30px;
        justify-content: flex-end;
        align-self: center;
        width: 40%;
        height: 330px;
    }
    #aboutMe .description-text{
        width: 55%;
    }
    #aboutMe .description-text .title{
        padding-top: 30px;
    }
    #aboutMe .description-text .skill-slide{
        padding-top: 15px;
    }
    #aboutMe .description-text .hire-me{
        width: 70%;
    }
    #aboutMe .description-text .text_me{
        font-size: 1.13em;
    }
}

#button-sect{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-sect .button-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background: seagreen;
    padding: 7px 20px;
    border-radius: 6px;
    cursor: pointer;
}
#button-sect .button-div span{
    z-index: 1;
    position: absolute;
    left: 0;
    width: 0px;
    height: 100%;
    background: #0e4bf1;
    transition: all .7s ease-in-out;
}
#button-sect .button-div:hover span{
    width: 100%;
}
#button-sect .button-div a{
    text-decoration: none;
    z-index: 3;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}